[user]
  name = Ian Weller
  email = maladroitthief@gmail.com
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[core]
  editor = vim
	# global gitignore
  excludesfile = ~/.gitignore
	# auto crlf to lf
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[web]
  browser = google-chrome
[push]
  default = simple
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[diff]
  tool = vimdiff
[alias]
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
[pull]
  rebase = true
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
