*.DS_Store
*.LSOverride
Thumbs.db
.bundle

# nvim plugins
.config/nvim/plugin
.config/nvim/spell/*
.config/nvim/db_ui/connections.json
*lazy-lock.json
*.spl

.config/zsh/secret/*.zsh
!.config/zsh/secret/keep.zsh

.aider*
!.aider.conf.yml
