*.DS_Store
*.LSOverride
Thumbs.db
.bundle

# nvim plugins
.config/nvim/plugin
.config/nvim/spell/*
.config/nvim/db_ui/connections.json
*lazy-lock.json
*.spl

.config/zsh/work/*.zsh
!.config/zsh/work/keep.zsh
